@charset "UTF-8";
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.page {
  /* Позиционирование */
  /* Блочная модель */
  height: 100%;
  /* Типографика */
  /* Оформление */
}

.page__body {
  /* Позиционирование */
  /* Блочная модель */
  margin: 0;
  height: 100%;
  /* Типографика */
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  /* Оформление */
  background-color: #ffffff;
}

.page__header {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.page__footer {
  /* Позиционирование */
  position: sticky;
  top: 100vh;
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.main-header {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  color: #000000;
  /* Оформление */
  background-color: #ffffff;
}

.main-header__logo {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.logo {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  text-decoration: none;
  /* Оформление */
}

.logo__image {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.main-nav {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.main-nav__toogle {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.main-nav__wrapper {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.main-nav__list {
  /* Позиционирование */
  /* Блочная модель */
  padding: 0;
  margin: 0;
  list-style-type: none;
  /* Типографика */
  /* Оформление */
}

.main-nav__notification {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.site-list {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  /* Оформление */
}

.site-list__item {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.nav-link {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  /* Оформление */
}
.nav-link--font-size {
  font-size: 15px;
}

.user-list {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  /* Оформление */
}

.user-list__item {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.news-list {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  /* Оформление */
}

.news-list__item {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.nav-notification {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #444444;
  /* Оформление */
}

.main-container {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.hero {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.hero__wrapper {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}
.hero__wrapper--background-color {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
  background-color: #f1f1f1;
}
.hero__wrapper--background-image {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
  background-image: url("../img/header_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__title {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.title-main {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  /* Оформление */
}

.product-range {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.product-range__wrapper {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.product-range__list {
  /* Позиционирование */
  /* Блочная модель */
  padding: 0;
  margin: 0;
  list-style-type: none;
  /* Типографика */
  /* Оформление */
}

.product-range__item {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}
.range-link {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  /* Оформление */
  background-color: #63d1bb;
}

.popular-products {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.popular-products__wrapper {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.popular-products__title {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: #63d1bb;
  /* Оформление */
}

.popular-products__list {
  /* Позиционирование */
  /* Блочная модель */
  padding: 0;
  margin: 0;
  list-style-type: none;
  /* Типографика */
  /* Оформление */
}

.popular-products__item {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.popular-products__item-title {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.popular-products__item-description {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  line-height: 24px;
  /* Оформление */
}

.title-section {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  /* Оформление */
}

.product-characteristics {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.product-characteristics__item {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.product-characteristics__name {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  line-height: 20px;
  /* Оформление */
}

.product-characteristics__value {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  line-height: 20px;
  /* Оформление */
}

.product-link {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.product-link__image {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.button {
  /* Позиционирование */
  /* Блочная модель */
  box-sizing: border-box;
  /* Типографика */
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  /* Оформление */
  background-color: #ffffff;
  border: 2px solid #444444;
}

.about-us {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.about-us__wrapper {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.about-us__title {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.about-us__list {
  /* Позиционирование */
  /* Блочная модель */
  padding: 0;
  margin: 0;
  list-style-type: none;
  /* Типографика */
  /* Оформление */
}

.about-us__item {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  /* Оформление */
}
.feedback {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.feedback__wrapper {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.feedback__title {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.feedback__list {
  /* Позиционирование */
  /* Блочная модель */
  padding: 0;
  margin: 0;
  list-style-type: none;
  /* Типографика */
  /* Оформление */
}

.slider {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.slider__item {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.review {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.review__text {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.review__author {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.review__author-name {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  /* Оформление */
}

.review__author-email {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  /* Оформление */
}

.toggles {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.toggles__previous {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.toggles__next {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.contacts {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}
.contacts__wrapper {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.contacts__title {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.contacts__address {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  /* Оформление */
}

.contacts__list {
  /* Позиционирование */
  /* Блочная модель */
  padding: 0;
  margin: 0;
  list-style-type: none;
  /* Типографика */
  /* Оформление */
}

.contacts__name {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.contacts__value {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.contacts__link {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  /* Оформление */
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;
}

.main-footer {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.main-footer__logo {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.main-footer__social {
  /* Позиционирование */
  /* Блочная модель */
  padding: 0;
  margin: 0;
  list-style-type: none;
  /* Типографика */
  /* Оформление */
}

.main-footer__copyright {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.social {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.social__item {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.social__link {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}
.social__link--vkontakte {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}
.social__link--youtube {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}
.social__link--telegram {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.copyright {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.copyright__text {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.copyright__link {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.copyright__image {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
  fill: #63d1bb;
}

.modal {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.modal__wrapper {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.modal__title {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.modal-content {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.modal-form {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.modal-form__group {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.modal-form__title {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.modal-form__list {
  /* Позиционирование */
  /* Блочная модель */
  padding: 0;
  margin: 0;
  list-style-type: none;
  /* Типографика */
  /* Оформление */
}

.modal-form__item {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.button-modal {
  /* Позиционирование */
  /* Блочная модель */
  box-sizing: border-box;
  /* Типографика */
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: #444444;
  text-transform: uppercase;
  /* Оформление */
  background-color: #ffffff;
  border: 2px solid rgba(68, 68, 68, 0.1);
  cursor: pointer;
}
.button-modal--background {
  /* Типографика */
  color: #ffffff;
  /* Оформление */
  background-color: #63d1bb;
  border: none;
}

.catalog-products {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.catalog-products__wrapper {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.catalog-products__list {
  /* Позиционирование */
  /* Блочная модель */
  padding: 0;
  margin: 0;
  list-style-type: none;
  /* Типографика */
  /* Оформление */
}

.catalog-products__item {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.catalog-products__link {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  text-decoration: none;
  /* Оформление */
}

.catalog-products__image {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.catalog-products__text {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.catalog-products__text-title {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  /* Оформление */
}

.catalog-products__text-properties {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 13px;
  /* Оформление */
}

.catalog-products__text-price {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  /* Оформление */
}

.catalog-products__button {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.production-process {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.production-process__wrapper {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.production-process__title {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  /* Оформление */
}
.production-process__title--videocamera {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.production-process__image {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.production-process__description {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #444444;
  /* Оформление */
}

.form {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.form__wrapper {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.form__description {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #444444;
  /* Оформление */
}

.form-filters {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.form-filters__group {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.form-filters__title {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: #63d1bb;
  /* Оформление */
}

.form-filters__list {
  /* Позиционирование */
  /* Блочная модель */
  padding: 0;
  margin: 0;
  list-style-type: none;
  /* Типографика */
  /* Оформление */
}

.form-filters__item {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.form-filters__explanation {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
  /* Оформление */
}

.form-filters__button {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: #444444;
  /* Оформление */
}

.control {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.control__label {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
  /* Оформление */
}

.control-toggle {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}

.control-field {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
}
/*# sourceMappingURL=style.css.map */