.about-us {
  // Блочная модель (внутреняя геометрия)
  display: grid;
  padding-top: 31px;
  padding-bottom: 58px;

  @media ($tablet) {
    // Блочная модель (внутреняя геометрия)
    padding-top: 55px;
    padding-bottom: 83px;
  }

  @media ($desktop) {
    // Блочная модель (внутреняя геометрия)
    padding-top: 68px;
    padding-bottom: 90px;
  }
}

.about-us__title {
  // Блочная модель
  margin-top: 0;
  margin-bottom: 28px;

  @media ($tablet) {
    // Блочная модель
    margin-bottom: 41px;
  }

  @media ($desktop) {
    // Блочная модель
    margin-bottom: 39px;
    margin-left: 175px;
  }
}

.about-us__list {
  // Блочная модель
  display: grid;
  row-gap: 83px;
  list-style-type: none;
  margin: 54px 0 0;
  padding: 0;

  @media ($tablet) {
    // Блочная модель
    grid-template-columns: repeat(2, max-content);
    row-gap: 110px;
    column-gap: 101px;
    margin-top: 56px;
  }

  @media ($desktop) {
    // Блочная модель
    column-gap: 116px;
    margin-left: 175px;
  }
}

.about-us__item {
  // Типографика
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $black-color;

  @media ($tablet) {
    // Типографика
    font-size: 20px;
    line-height: 22px;
  }

  &--ecology {
    // Блочная модель

    // Оформление
  }

  &--price {
    // Блочная модель
    grid-row: 2/3;

    // Оформление
  }

  &--likes {
    // Блочная модель
    grid-row: 3/4;

    // Оформление
  }

  &--embroidered {
    // Блочная модель

    // Оформление
  }

  &--support {
    // Блочная модель

    // Оформление
  }

  &--gift-wrap {
    // Блочная модель

    // Оформление
  }
}
