.about-us {
  /* Типографика */

  /* Оформление */
}

.about-us__wrapper {
  /* Позиционирование */

  /* Блочная модель */
  margin: 0 30px;

  /* Типографика */

  /* Оформление */
}

.about-us__title {
  /* Позиционирование */

  /* Блочная модель */

  /* Типографика */

  /* Оформление */
}

.about-us__list {
  /* Позиционирование */

  /* Блочная модель */
  list-style-type: none;
  margin: 0;
  padding: 0;

  /* Типографика */

  /* Оформление */
}

.about-us__item {
  /* Позиционирование */

  /* Блочная модель */

  /* Типографика */
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $black-color;

  /* Оформление */

  &--ecology {
    // иконка
  }

  &--price {
    // иконка
  }

  &--likes {
    // иконка
  }

  &--embroidered {
    // иконка
  }

  &--support {
    // иконка
  }

  &--gift-wrap {
    // иконка
  }
}
