.about-us {
  // Типографика

  // Оформление
}

.about-us__wrapper {
  // Позиционирование

  // Блочная модель
  display: grid;
  margin: 0 30px 58px;

  // Типографика

  // Оформление

  @media (min-width: $tablet-width) {
    // Позиционирование

    // Блочная модель
    margin: 0 50px 83px;

    // Типографика

    // Оформление
  }

  @media (min-width: $desktop-width) {
    // Позиционирование

    // Блочная модель
    margin: 0 50px 90px 175px;

    // Типографика

    // Оформление
  }
}

.about-us__title {
  // Позиционирование

  // Блочная модель
  margin: 0;

  // Типографика

  // Оформление
}

.about-us__list {
  // Позиционирование

  // Блочная модель
  display: grid;
  row-gap: 83px;
  list-style-type: none;
  margin: 83px 0 0;
  padding: 0;

  // Типографика

  // Оформление

  @media (min-width: $tablet-width) {
    // Позиционирование

    // Блочная модель
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 110px;
    column-gap: 100px;
    margin: 97.5px 0 0;

    // Типографика

    // Оформление
  }

  @media (min-width: $desktop-width) {
    // Позиционирование

    // Блочная модель
    margin: 95px 0 0;
    column-gap: 115px;

    // Типографика

    // Оформление
  }
}

.about-us__item {
  // Позиционирование

  // Блочная модель

  // Типографика
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $black-color;

  // Оформление

  &--ecology {
    // иконка
  }

  &--price {
    // иконка
  }

  &--likes {
    // иконка
  }

  &--embroidered {
    // иконка
  }

  &--support {
    // иконка
  }

  &--gift-wrap {
    // иконка
  }

  @media (min-width: $tablet-width) {
    // Позиционирование

    // Блочная модель

    // Типографика
    font-size: 20px;
    line-height: 22px;

    // Оформление
  }
}
