.button {
  // Блочная модель
  box-sizing: border-box;
  display: block;
  padding: 14px 21px;
  text-align: center;

  // Типографика
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: $base-color;
  text-decoration: none;
  text-transform: uppercase;

  // Оформление
  background-color: $white-color;
  border: 2px solid currentColor;

  @media ($tablet) {
    // Типографика
    font-size: 17px;
  }

  &--big {
    // Блочная модель
    padding: 16px 20px;

    // Типографика
    line-height: 16px;
  }

  &--constant {
    // Типографика
    font-size: 17px;
  }
}
