.button {
  // Позиционирование

  // Блочная модель
  box-sizing: border-box;
  display: inline-block;
  padding: 16px 0;
  text-align: center;
  min-width: 260px;

  // Типографика
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: $base-color;
  text-decoration: none;
  text-transform: uppercase;

  // Оформление
  background-color: $white-color;
  border: 2px solid currentColor;

  &--big {
    // Позиционирование

    // Блочная модель
    padding: 18px 0;

    // Типографика

    // Оформление
  }

  &--narrow {
    // Позиционирование

    // Блочная модель
    min-width: 192px;

    // Типографика

    // Оформление
  }
}
