.catalog-products {
  // Блочная модель (внутренняя геометрия)
  padding-top: 30px;
  padding-bottom: 30px;

  @media ($tablet) {
    // Блочная модель (внутренняя геометрия)
    padding-top: 79px;
    padding-bottom: 53px;
  }

  @media ($desktop) {
    // Блочная модель (внутренняя геометрия)
    padding-top: 128px;
    padding-bottom: 56px;
  }
}

.catalog-products__list {
  // Блочная модель
  display: grid;
  row-gap: 32px;
  margin: 0;
  padding: 0;

  // Оформление
  list-style-type: none;

  @media ($tablet) {
    // Блочная модель
    row-gap: 53px;
  }

  @media ($desktop) {
    // Блочная модель
    grid-template-columns: repeat(3, 1fr);
    column-gap: 51px;
  }
}

.catalog-products__item {
  // Блочная модель
  display: grid;

  @media ($tablet) {
    // Блочная модель
    grid-template-columns: 334px 1fr;
  }

  @media ($desktop) {
    // Блочная модель
    grid-template-columns: 316px;
    grid-template-rows: min-content 1fr;
  }
}

.catalog-products__link {
  // Типографика
  text-decoration: none;

  @media ($tablet) {
    // Позиционирование

    // Блочная модель

    // Типографика

    // Оформление
  }

  @media ($desktop) {
    // Позиционирование

    // Блочная модель
    height: 462px;

    // Типографика

    // Оформление
  }
}

.catalog-products__image {
  // Блочная модель
  display: block;

  // Типографика

  // Оформление
}

.catalog-products__text {
  // Позиционирование

  // Блочная модель

  // Типографика

  // Оформление
}
