.catalog-products {
  // Типографика

  // Оформление
}

.catalog-products__wrapper {
  // Позиционирование

  // Блочная модель
  margin: 0 30px;

  // Типографика

  // Оформление

  @media (min-width: $tablet-width) {
    // Позиционирование

    // Блочная модель
    margin: 0 50px;
    margin-bottom: 54px;

    // Типографика

    // Оформление
  }
}

.catalog-products__list {
  // Позиционирование

  // Блочная модель
  display: grid;
  row-gap: 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;

  // Типографика

  // Оформление

  @media (min-width: $tablet-width) {
    // Позиционирование

    // Блочная модель
    row-gap: 54px;

    // Типографика

    // Оформление
  }

  @media (min-width: $desktop-width) {
    // Позиционирование

    // Блочная модель
    grid-template-columns: repeat(3, 316px);
    column-gap: 52px;

    // Типографика

    // Оформление
  }
}

.catalog-products__item {
  // Позиционирование

  // Блочная модель
  display: grid;

  // Типографика

  // Оформление

  @media (min-width: $tablet-width) {
    // Позиционирование

    // Блочная модель
    grid-template-columns: 334px 300px;
    column-gap: 34px;

    // Типографика

    // Оформление
  }

  @media (min-width: $desktop-width) {
    // Позиционирование

    // Блочная модель
    grid-template-columns: 316px;

    // Типографика

    // Оформление
  }
}

.catalog-products__link {
  // Позиционирование

  // Блочная модель

  // Типографика
  text-decoration: none;

  // Оформление
}

.catalog-products__image {
  // Позиционирование

  // Блочная модель

  // Типографика

  // Оформление
}

.catalog-products__text {
  // Позиционирование

  // Блочная модель

  // Типографика

  // Оформление
}

.catalog-products__text-title {
  // Позиционирование

  // Блочная модель

  // Типографика
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black-color;

  // Оформление
}

.catalog-products__text-properties {
  // Позиционирование

  // Блочная модель

  // Типографика
  font-size: 13px;

  // Оформление
}

.catalog-products__text-price {
  // Позиционирование

  // Блочная модель

  // Типографика
  line-height: 24px;
  font-weight: 700;
  color: $black-color;

  // Оформление
}

.catalog-products__button {
  // Позиционирование

  // Блочная модель

  // Типографика

  // Оформление
}
