.catalog-products {
  // Блочная модель (внутренняя геометрия)
  padding-top: 30px;
  padding-bottom: 30px;

  // Оформление

  @media ($tablet) {
    // Блочная модель (внутренняя геометрия)
    padding-top: 67px;
    padding-bottom: 53px;

    // Оформление
  }

  @media ($desktop) {
    // Блочная модель (внутренняя геометрия)
    padding-top: 111px;
    padding-bottom: 57px;

    // Оформление
  }
}

.catalog-products__list {
  // Позиционирование

  // Блочная модель
  display: grid;
  row-gap: 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;

  // Типографика

  // Оформление

  @media ($tablet) {
    // Позиционирование

    // Блочная модель
    row-gap: 54px;

    // Типографика

    // Оформление
  }

  @media ($desktop) {
    // Позиционирование

    // Блочная модель
    grid-template-columns: repeat(3, 1fr);
    column-gap: 52px;

    // Типографика

    // Оформление
  }
}

.catalog-products__item {
  // Позиционирование

  // Блочная модель
  display: grid;

  // Типографика

  // Оформление

  @media ($tablet) {
    // Позиционирование

    // Блочная модель
    grid-template-columns: 334px 1fr;
    column-gap: 34px;

    // Типографика

    // Оформление
  }

  @media ($desktop) {
    // Позиционирование

    // Блочная модель
    grid-template-columns: 316px;

    // Типографика

    // Оформление
  }
}

.catalog-products__link {
  // Позиционирование

  // Блочная модель

  // Типографика
  text-decoration: none;

  // Оформление
}

.catalog-products__image {
  // Позиционирование

  // Блочная модель
  display: block;

  // Типографика

  // Оформление
}

.catalog-products__text {
  // Позиционирование

  // Блочная модель

  // Типографика

  // Оформление
}
