.choose-form {
  // Типографика

  // Оформление
}

.choose-form__group {
  // Позиционирование

  // Блочная модель
  margin: 0;
  padding: 0;

  // Типографика

  // Оформление
  border: none;
}

.choose-form__title {
  // Позиционирование

  // Блочная модель
  margin: 0 auto 21.5px;

  // Типографика

  // Оформление

  @media (min-width: $tablet-width) {
    // Позиционирование

    // Блочная модель
    margin-bottom: 19.5px;

    // Типографика
    font-size: 17px;

    // Оформление
  }
}

.choose-form__list {
  // Позиционирование

  // Блочная модель
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 7px;
  list-style-type: none;
  margin: 0 0 31px;
  padding: 0;

  // Типографика

  // Оформление
}

.choose-form__item {
  // Позиционирование

  // Блочная модель

  // Типографика

  // Оформление
}

.choose-form__item-toggle {
  // Позиционирование

  // Блочная модель

  // Типографика

  // Оформление
}

.choose-form__item-label {
  // Позиционирование

  // Блочная модель

  // Типографика
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;

  // Оформление
  background-color: $white-color;
  border: 2px solid rgba($color: $base-color, $alpha: 0.1);
  cursor: pointer;
}

.choose-form__button {
  // Позиционирование

  // Блочная модель
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 18px 68px;

  // Типографика
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $white-color;
  text-transform: uppercase;

  // Оформление
  background-color: $green-color;
  border: none;
  cursor: pointer;
}
