.choose-form {
  // Блочная модель (внутренняя геометрия)
  display: grid;

  @media ($tablet) {
    // Блочная модель
    padding-left: 116px;
    padding-right: 116px;
  }
}

.choose-form__group {
  // Блочная модель
  margin: 0 0 40px;
  padding: 0;

  // Оформление
  border: none;
}

.choose-form__title {
  // Блочная модель
  margin: 0 auto 35px;

  @media ($tablet) {
    // Блочная модель
    margin-bottom: 32px;

    // Типографика
    font-size: 17px;
  }
}

.choose-form__list {
  // Блочная модель
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 7px;
  margin: 0;
  padding: 0;

  // Оформление
  list-style-type: none;
}

.choose-form__item {
  // Позиционирование

  // Блочная модель

  // Типографика

  // Оформление
}

.choose-form__item-toggle {
  // Позиционирование

  // Блочная модель

  // Типографика

  // Оформление
}

.choose-form__item-label {
  // Блочная модель
  max-width: 82px;
  padding-top: 18px;
  padding-bottom: 18px;

  // Типографика
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;

  // Оформление
  background-color: $white-color;
  border: 2px solid rgba($color: $base-color, $alpha: 0.1);
  cursor: pointer;
}

.choose-form__button {
  // Блочная модель

  // Типографика
  font-size: 17px;
  line-height: 16px;
  color: $white-color;
  text-transform: uppercase;

  // Оформление
  background-color: $green-color;
  border: none;
  cursor: pointer;
}
