.control {
  // Типографика

  // Оформление
}

.control__toggle {
  // Позиционирование

  // Блочная модель

  // Типографика

  // Оформление
}

.control__label {
  // Позиционирование

  // Блочная модель

  // Типографика
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $black-color;

  // Оформление
}
