.contacts {
  /* Типографика */

  /* Оформление */
}

.contacts__wrapper {
  /* Позиционирование */

  /* Блочная модель */
  margin: 0 30px;

  /* Типографика */

  /* Оформление */
}

.contacts__title {
  /* Позиционирование */

  /* Блочная модель */

  /* Типографика */

  /* Оформление */
}

.contacts__address {
  /* Позиционирование */

  /* Блочная модель */

  /* Типографика */
  font-size: 14px;

  /* Оформление */
}

.contacts__list {
  /* Позиционирование */

  /* Блочная модель */
  list-style-type: none;

  /* Типографика */

  /* Оформление */
}

.contacts__name {
  /* Позиционирование */

  /* Блочная модель */

  /* Типографика */

  /* Оформление */
}

.contacts__value {
  /* Позиционирование */

  /* Блочная модель */

  /* Типографика */

  /* Оформление */
}

.contacts__link {
  /* Позиционирование */

  /* Блочная модель */

  /* Типографика */
  font-size: 14px;
  color: $base-color;

  /* Оформление */
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;
}
