.contacts {
  // Блочная модель (внутренняя геометрия)
  display: grid;
  padding-top: 38px;
  padding-bottom: 39px;

  @media ($tablet) {
    // Блочная модель
    padding-top: 46px;
    padding-bottom: 57px;
  }

  @media ($desktop) {
    // Блочная модель
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content 1fr min-content;
    padding-top: 71px;
    padding-bottom: 105px;
  }
}

.contacts__title {
  // Блочная модель
  margin-top: 0;
  margin-bottom: 28px;

  @media ($tablet) {
    // Блочная модель
    margin-top: 22px;
    margin-bottom: 49px;
  }

  @media ($desktop) {
    // Блочная модель
    margin-top: 79px;
    margin-bottom: 37px;
    margin-left: 175px;
  }
}

.contacts__address {
  // Блочная модель
  margin-top: 0;
  margin-bottom: 63px;

  // Типографика
  font-size: 14px;
  font-style: normal;

  @media ($tablet) {
    // Блочная модель
    margin-bottom: 49px;

    // Типографика
    font-size: 17px;
  }

  @media ($desktop) {
    // Блочная модель
    grid-column: 1/2;
    margin-bottom: 84px;
    margin-left: 175px;
  }
}

.contacts__list {
  // Блочная модель
  display: grid;
  row-gap: 30px;
  margin: 0;

  @media ($tablet) {
    // Блочная модель
    grid-template-columns: repeat(2, 1fr);
  }

  @media ($desktop) {
    // Блочная модель
    grid-template-columns: auto;
  }
}

.contacts__item {
  // Блочная модель
  display: grid;
  grid-template-columns: min-content 2fr;
  column-gap: 35px;

  @media ($tablet) {
    // Блочная модель
    column-gap: 25px;
  }
}

.contacts__name {
  // Блочная модель

  // Типографика

  // Оформление
}

.contacts__value {
  // Блочная модель
  margin: 0;

  // Типографика

  // Оформление
}

.contacts__link {
  // Типографика
  color: $base-color;

  // Оформление
  text-decoration: none;
  border-bottom: 1px solid $secondary-green;
}

.contacts__map {
  // Блочная модель
  display: block;
  max-width: 100vw;
  margin: 0 -30px 40px;

  @media ($tablet) {
    // Блочная модель
    margin: 0 -50px 57px;
  }

  @media ($desktop) {
    // Блочная модель
    grid-column: 2/3;
    grid-row: 1/-1;
    margin: 0;
  }
}

.contacts__button {
  @media ($tablet) {
    // Блочная модель
    justify-self: center;
    width: 230px;
  }

  @media ($desktop) {
    // Блочная модель
    justify-self: left;
    margin-top: 0;
    margin-left: 175px;
  }
}
