.contacts {
  // Типографика

  // Оформление
}

.contacts__wrapper {
  // Позиционирование

  // Блочная модель
  display: grid;
  margin: 0 30px 39px;

  // Типографика

  // Оформление

  @media (min-width: $tablet-width) {
    // Позиционирование

    // Блочная модель
    margin: 0 50px 57px;

    // Типографика

    // Оформление
  }

  @media (min-width: $desktop-width) {
    // Позиционирование

    // Блочная модель
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr min-content;
    column-gap: 59px;
    margin: 0 50px 103px 175px;

    // Типографика

    // Оформление
  }
}

.contacts__title {
  // Позиционирование

  // Блочная модель
  margin: 0;

  // Типографика

  // Оформление

  @media (min-width: $desktop-width) {
    // Позиционирование

    // Блочная модель
    margin-top: 79px;

    // Типографика

    // Оформление
  }
}

.contacts__address {
  // Позиционирование

  // Блочная модель
  margin: 28px 0 62px;

  // Типографика
  font-size: 14px;

  // Оформление

  @media (min-width: $tablet-width) {
    // Позиционирование

    // Блочная модель
    margin: 49px 0 49px;

    // Типографика

    // Оформление
  }

  @media (min-width: $desktop-width) {
    // Позиционирование

    // Блочная модель
    grid-column: 1/2;
    margin: 34.5px 0 84.5px;

    // Типографика

    // Оформление
  }
}

.contacts__list {
  // Позиционирование

  // Блочная модель
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 35px;
  column-gap: 35px;
  margin: 0;

  // Типографика

  // Оформление

  @media (min-width: $tablet-width) {
    // Позиционирование

    // Блочная модель
    grid-template-columns: auto 1fr auto 1fr;

    // Типографика

    // Оформление
  }

  @media (min-width: $desktop-width) {
    // Позиционирование

    // Блочная модель
    grid-template-columns: auto 1fr;

    // Типографика

    // Оформление
  }
}

.contacts__name {
  // Позиционирование

  // Блочная модель

  // Типографика

  // Оформление
}

.contacts__value {
  // Позиционирование

  // Блочная модель
  margin: 0;

  // Типографика

  // Оформление
}

.contacts__link {
  // Позиционирование

  // Блочная модель

  // Типографика
  font-size: 14px;
  color: $base-color;

  // Оформление
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;
}

.contacts__button {
  // Позиционирование

  // Блочная модель
  margin: 42px 0 0;

  // Типографика

  // Оформление

  @media (min-width: $tablet-width) {
    // Позиционирование

    // Блочная модель
    margin: 55px 0 0;
    justify-self: center;
    width: 230px;

    // Типографика

    // Оформление
  }

  @media (min-width: $desktop-width) {
    // Позиционирование

    // Блочная модель
    margin: 0;

    // Типографика

    // Оформление
  }
}
