.copyright {
  // Типографика

  // Оформление
}

.copyright__text {
  // Типографика
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: $black-color;
}

.copyright__link {
  // Позиционирование

  // Блочная модель

  // Типографика

  // Оформление
}

.copyright__image {
  // Позиционирование

  // Блочная модель

  // Типографика

  // Оформление
  fill: $green-color;
}
