.feedback {
  // Блочная модель (внутренняя геометрия)
  display: grid;
  padding-bottom: 51px;

  @media ($tablet) {
    // Блочная модель (внутренняя геометрия)
    grid-template-columns: 350px 1fr;
    grid-template-rows: min-content 1fr;
    column-gap: 143px;
    padding-bottom: 85px;
  }

  @media ($desktop) {
    // Блочная модель (внутренняя геометрия)
    padding-bottom: 90px;
    column-gap: 525px;
  }
}

.feedback__title {
  // Блочная модель
  margin-top: 0;
  margin-bottom: 14px;

  @media ($tablet) {
    // Блочная модель
    margin-top: 85px;
    margin-bottom: 38px;
  }

  @media ($desktop) {
    // Блочная модель
    margin-top: 78px;
    margin-left: 175px;
    margin-bottom: 34px;
  }
}

.feedback__list {
  @media ($tablet) {
    // Блочная модель
    grid-row-start: 2;
  }

  @media ($desktop) {
    // Блочная модель
    margin-left: 175px;
  }
}

.feedback__toggles {
  // Блочная модель
  margin: 0;

  @media ($tablet) {
    // Блочная модель
    grid-row: 1/-1;
    grid-column: 2/3;
  }
}
