.feedback {
  // Блочная модель (внутренняя геометрия)
  display: grid;
  padding-bottom: 51px;

  // Типографика

  // Оформление

  @media ($tablet) {
    // Блочная модель (внутренняя геометрия)
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 145px;
    padding-bottom: 85px;

    // Типографика

    // Оформление
  }

  @media ($desktop) {
    // Блочная модель (внутренняя геометрия)
    padding-bottom: 90px;
    column-gap: 525px;

    // Типографика

    // Оформление
  }
}

.feedback__title {
  // Позиционирование

  // Блочная модель
  margin-top: 0;
  margin-bottom: 14px;

  // Типографика

  // Оформление

  @media ($tablet) {
    // Блочная модель
    margin-top: 82.5px;
    margin-bottom: 0;

    // Типографика

    // Оформление
  }

  @media ($desktop) {
    // Блочная модель
    margin-top: 78px;
    margin-left: 175px;

    // Типографика

    // Оформление
  }
}

.feedback__list {
  // Позиционирование

  // Блочная модель

  // Типографика

  // Оформление

  @media ($tablet) {
    // Блочная модель
    margin-top: 27px;


    // Типографика

    // Оформление
  }

  @media ($desktop) {
    // Блочная модель
    margin-top: 20px;
    margin-left: 175px;


    // Типографика

    // Оформление
  }
}

.feedback__toggles {
  // Позиционирование

  // Блочная модель
  margin: 0;

  // Типографика

  // Оформление

  @media ($tablet) {
    // Блочная модель
    grid-row: 1/-1;
    grid-column: 2/3;

    // Типографика

    // Оформление
  }
}
