.firstscreen {
  // Блочная модель (внутренняя геометрия)

  // Типографика

  // Оформление

  &--main {
    // Оформление
    background-image: url("../img/firstscreen-background.jpg");
    background-repeat: no-repeat;
    background-position: 50% -206px;
    background-size: contain;

    @media ($tablet) {
      // Оформление
    }

    @media ($desktop) {
      // Оформление
    }
  }
}
