.form-filters {
  // Типографика

  // Оформление
}

.form-filters__group {
  // Позиционирование

  // Блочная модель
  margin: 0;
  padding: 0;

  // Типографика

  // Оформление
  border: none;

  @media (min-width: $tablet-width) {
    // Позиционирование

    // Блочная модель
    display: grid;

    // Типографика

    // Оформление
  }

  &--view {
    // Позиционирование

    // Блочная модель

    // Типографика

    // Оформление

    @media (min-width: $tablet-width) {
      // Позиционирование

      // Блочная модель

      // Типографика

      // Оформление
      background-color: $grey-color;
    }
  }
}

.form-filters__title {
  // Позиционирование

  // Блочная модель

  // Типографика
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $green-color;

  // Оформление

  @media (min-width: $tablet-width) {
    // Позиционирование

    // Блочная модель
    padding: 0;

    // Типографика

    // Оформление
  }
}

.form-filters__list {
  // Позиционирование

  // Блочная модель
  list-style-type: none;
  padding: 0;
  margin: 0;

  // Типографика

  // Оформление

  @media (min-width: $tablet-width) {
    // Позиционирование

    // Блочная модель

    // Типографика

    // Оформление
  }

  &--additional {
    // Позиционирование

    // Блочная модель

    // Типографика

    // Оформление

    @media (min-width: $tablet-width) {
      // Позиционирование

      // Блочная модель
      display: grid;
      grid-template-columns: 1fr 1fr;

      // Типографика

      // Оформление
    }
  }
}

.form-filters__item {
  // Позиционирование

  // Блочная модель

  // Типографика

  // Оформление
}

.form-filters__explanation {
  // Позиционирование

  // Блочная модель

  // Типографика
  font-size: 14px;
  line-height: 16px;

  // Оформление
}

.form-filters__button {
  // Позиционирование

  // Блочная модель

  // Типографика
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $base-color;

  // Оформление
}
