.form {
  // Блочная модель (внутренняя геометрия)
  padding-top: 17px;
  padding-bottom: 55px;

  @media ($tablet) {
    // Блочная модель (внутренняя геометрия)
    padding-top: 66px;
    padding-bottom: 50px;
  }

  @media ($desktop) {
    // Блочная модель (внутренняя геометрия)
    padding-top: 115px;
  }
}

.form__description {
  // Блочная модель
  margin-top: 0;
  margin-bottom: 30px;

  // Типографика
  font-size: 13px;
  line-height: 24px;

  @media ($tablet) {
    // Блочная модель
    margin-bottom: 63px;

    // Типографика
    font-size: 17px;
    line-height: 30px;
  }

  @media ($desktop) {
    // Блочная модель
    padding-left: 225px;
    padding-right: 225px;
  }
}
