.form {
  // Типографика

  // Оформление
}

.form__wrapper {
  // Позиционирование

  // Блочная модель
  display: grid;
  margin: 0 30px 55px;

  // Типографика

  // Оформление
}

.form__description {
  // Позиционирование

  // Блочная модель
  margin: 0;
  padding-bottom: 29px;

  // Типографика
  font-size: 13px;
  line-height: 24px;

  // Оформление
}
