.hero {
  // Блочная модель (внутреняя геометрия)
  padding-top: 152px;
  padding-bottom: 74px;
  // Типографика

  // Оформление
  background-color: $grey-color;

  @media ($tablet) {
    // Позиционирование

    // Блочная модель
    padding-top: 36px;
    padding-bottom: 75px;

    // Типографика

    // Оформление
  }

  @media ($desktop) {
    // Позиционирование

    // Блочная модель
    padding-top: 38px;
    padding-bottom: 96px;

    // Типографика

    // Оформление
  }

  &--main {
    // Блочная модель (внутреняя геометрия)
    padding-top: 121px;
    padding-bottom: 121px;

    // Типографика

    // Оформление

    @media ($tablet) {
      // Позиционирование

      // Блочная модель
      padding-top: 90px;
      padding-bottom: 372px;

      // Типографика

      // Оформление
    }

    @media ($desktop) {
      // Позиционирование

      // Блочная модель
      padding-top: 94px;
      padding-bottom: 355px;

      // Типографика

      // Оформление
    }
  }
}

.hero__title {
  // Позиционирование

  // Блочная модель
  margin: 0;

  // Типографика
  white-space: pre-line;

  // Оформление

  @media ($tablet) {
    // Позиционирование

    // Блочная модель
    white-space: normal;

    // Типографика

    // Оформление
  }

  @media ($desktop) {
    // Позиционирование

    // Блочная модель
    margin-left: 150px;
    margin-right: 150px;

    // Типографика

    // Оформление
  }
}
