.hero {
  // Блочная модель (внутреняя геометрия)
  padding-top: 73px;
  padding-bottom: 73px;
  // Типографика

  // Оформление
  background-color: $grey-color;

  @media ($tablet) {
    // Позиционирование

    // Блочная модель
    padding-top: 101px;
    padding-bottom: 75px;

    // Типографика

    // Оформление
  }

  @media ($desktop) {
    // Позиционирование

    // Блочная модель
    padding-top: 102px;
    padding-bottom: 96px;

    // Типографика

    // Оформление
  }

  &--main {
    // Блочная модель (внутреняя геометрия)
    padding-bottom: 120px;

    // Типографика

    // Оформление
  }
}

.hero__title {
  // Позиционирование

  // Блочная модель
  margin: 0;

  // Типографика

  // Оформление
}
