.legend {
  // Блочная модель (внутренняя геометрия)

  // Типографика
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $green-color;
  text-transform: uppercase;

  // Оформление
}
