.main-nav {
  /* Типографика */

  /* Оформление */
}

.main-nav__toogle {
  /* Позиционирование */

  /* Блочная модель */

  /* Типографика */

  /* Оформление */
}

.main-nav__wrapper {
  /* Позиционирование */

  /* Блочная модель */

  /* Типографика */

  /* Оформление */

  // &--hidden {
  //   display: none;
  // }
}

.main-nav__list {
  /* Позиционирование */

  /* Блочная модель */
  list-style-type: none;
  padding: 0;

  /* Типографика */

  /* Оформление */
}

.main-nav__notification {
  /* Позиционирование */

  /* Блочная модель */

  // Типографика
  line-height: 24px;

  /* Оформление */

  // &--hidden {
  //   display: none;
  // }
}
