.main-header {
  // Блочная модель (внутреняя геометрия)
  padding-left: calc(50% - 130px);
  padding-right: calc(50% - 130px);

  // Типографика
  color: $black-color;

  // Оформление
  background-color: $white-color;

  @media ($tablet) and ($max-desktop) {
    // Блочная модель (внутреняя геометрия)
    padding-left: calc(50% - 334px);
    padding-right: calc(50% - 334px);
  }

  @media ($desktop) {
    // Блочная модель (внутреняя геометрия)
    padding-left: calc(50% - 525px);
    padding-right: calc(50% - 525px);
  }
}
