.main-nav {
  // Блочная модель (внутреняя геометрия)
  display: flex;
  flex-wrap: wrap;

  // Типографика

  // Оформление
}

.main-nav__logo {
  // Позиционирование

  // Блочная модель
  height: 79px;
  margin: 0 auto;

  // Типографика

  // Оформление

  @media ($tablet) {
    // Позиционирование

    // Блочная модель
    margin: auto;
    margin-left: 0;

    // Типографика

    // Оформление
  }

  @media ($desktop) {
    // Позиционирование

    // Блочная модель
    margin: auto;
    order: 2;

    // Типографика

    // Оформление
  }
}

.main-nav__toogle {
  // Позиционирование
  position: absolute;
  top: 30px;
  right: 30px;

  // Блочная модель
  width: 21px;
  height: 20px;
  padding: 5px;

  // Типографика

  // Оформление
  background-image: url("../img/burger-menu.svg");
  background-repeat: no-repeat;
  background-color: inherit;
  border: none;
  cursor: pointer;

  // &--close {
  //   // Оформление
  //   background-image: url("../img/cross.svg");
  // }


  @media ($tablet) {
    // Позиционирование

    // Блочная модель
    display: none;

    // Типографика

    // Оформление
  }

  @media ($desktop) {
    // Позиционирование

    // Блочная модель
    display: none;

    // Типографика

    // Оформление
  }
}

.main-nav__list {
  // Позиционирование

  // Блочная модель
  flex-grow: 1;
  padding: 0;
  margin: 0;

  // Типографика

  // Оформление
  list-style-type: none;

  &--hidden {
    display: none;
  }

  @media ($tablet) {
    // Позиционирование

    // Блочная модель

    // Типографика

    // Оформление
  }

  @media ($desktop) {
    // Позиционирование

    // Блочная модель

    // Типографика

    // Оформление
  }
}

.main-nav__site-list {
  // Позиционирование

  // Блочная модель

  // Типографика

  // Оформление

  @media ($tablet) {
    // Позиционирование

    // Блочная модель
    order: 2;

    // Типографика

    // Оформление
  }

  @media ($desktop) {
    // Позиционирование

    // Блочная модель
    order: 1;

    // Типографика

    // Оформление
  }
}

.main-nav__user-list {
  // Позиционирование

  // Блочная модель

  // Типографика

  // Оформление

  @media ($tablet) {
    // Позиционирование

    // Блочная модель


    // Типографика

    // Оформление
  }

  @media ($desktop) {
    // Позиционирование

    // Блочная модель
    order: 3;

    // Типографика

    // Оформление
  }
}

.main-nav__news-list {
  // Позиционирование

  // Блочная модель
  display: none;

  // Типографика

  // Оформление

  @media ($tablet) {
    // Позиционирование

    // Блочная модель
    display: none;

    // Типографика

    // Оформление
  }

  @media ($desktop) {
    // Позиционирование

    // Блочная модель
    display: block;
    order: 4;

    // Типографика

    // Оформление
  }
}

.main-nav__notification {
  // Позиционирование

  // Блочная модель
  display: none;

  // Типографика
  line-height: 24px;

  // Оформление

  @media ($tablet) {
    // Позиционирование

    // Блочная модель
    display: block;
    margin: auto 0;
    margin-left: auto;
    order: 3;

    // Типографика

    // Оформление
  }

  @media ($desktop) {
    // Позиционирование

    // Блочная модель
    order: 5;

    // Типографика

    // Оформление
  }
}
