.main-footer {
  // Типографика

  // Оформление
}

.main-footer__logo {
  // Позиционирование

  // Блочная модель
  display: none;

  // Типографика

  // Оформление

  @media (min-width: $tablet-width) {
    // Позиционирование

    // Блочная модель
    display: block;

    // Типографика

    // Оформление
  }
}

.main-footer__social {
  // Позиционирование

  // Блочная модель
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 29px;
  list-style-type: none;
  margin: 0 0 58px;
  padding: 0;

  // Типографика

  // Оформление

  @media (min-width: $tablet-width) {
    // Позиционирование

    // Блочная модель
    margin: 0;

    // Типографика

    // Оформление
  }
}

.main-footer__copyright {
  // Позиционирование

  // Блочная модель

  // Типографика

  // Оформление
}
