.modal {
  // Блочная модель (внутренняя геометрия)
  // Типографика

  // Оформление
}

.modal__wrapper {
  // Позиционирование

  // Блочная модель
  padding: 28.5px 30px 46px;
  text-align: center;

  // Типографика

  // Оформление
  border: 1px solid $lighter-grey;
  box-shadow: 0 5px 10px rgba($color: $black-color, $alpha: 0.25);

  @media ($tablet) {
    // Позиционирование

    // Блочная модель
    padding: 37.5px 93px 46px;

    // Типографика

    // Оформление
  }
}

.modal__title {
  // Позиционирование

  // Блочная модель
  margin: 0 0 14px;
  padding: 0 50px;

  // Типографика
  font-size: 25px;
  font-weight: 700;
  color: $black-color;
  text-transform: uppercase;

  // Оформление

  @media ($tablet) {
    // Позиционирование

    // Блочная модель
    margin: 0 0 11px;

    // Типографика
    font-size: 30px;
    line-height: 57px;

    // Оформление
  }
}
