.nav-link {
  // Блочная модель (внутреняя геометрия)
  display: block;

  // Типографика
  color: $black-color;
  text-decoration: none;

  // Оформление
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

  &--additional {
    // Типографика
    font-size: 15px;
  }
}
