.nav-link {
  /* Типографика */
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black-color;
  text-decoration: none;

  /* Оформление */

  &--additional {
    font-size: 15px;
  }
}
