.news-list {
  /* Типографика */
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: $black-color;

  /* Оформление */

  // &--hidden {
  //   display: none;
  // }
}

.news-list__item {
  /* Позиционирование */

  /* Блочная модель */

  /* Типографика */

  /* Оформление */
}
