
.page {
  /* Позиционирование */

  /* Блочная модель */

  /* Типографика */

  /* Оформление */
}

.page__body {
  /* Позиционирование */

  /* Блочная модель */
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
  margin: 0 auto;
  width: 320px;

  /* Типографика */

  /* Оформление */
}

.page__header {
  /* Позиционирование */

  /* Блочная модель */
  margin: 0 30px;
  padding: 0;

  /* Типографика */

  /* Оформление */
}

.page__footer {
  /* Позиционирование */

  /* Блочная модель */
  margin: 0 30px;
  padding: 0;

  /* Типографика */

  /* Оформление */
}
