
.page {
  /* Позиционирование */

  /* Блочная модель */
  height: 100%;

  /* Типографика */

  /* Оформление */
}

.page__body {
  /* Позиционирование */

  /* Блочная модель */
  margin: 0;
  height: 100%;

  /* Типографика */
  @include text-settings();
  font-family: "Open Sans", sans-serif;
  text-align: center;

  /* Оформление */
  background-color: $white-color;
}

.page__header {
  /* Позиционирование */

  /* Блочная модель */

  /* Типографика */

  /* Оформление */
}

.page__footer {
  /* Позиционирование */
  position: sticky;
  top: 100vh;

  /* Блочная модель */

  /* Типографика */

  /* Оформление */
}
