.popular-products {
  // Блочная модель (Внутренняя геометрия)
  display: grid;
  padding-top: 31px;
  padding-bottom: 42px;

  @media ($tablet) {
    // Блочная модель (Внутренняя геометрия)
    grid-template-columns: 1fr 334px;
    column-gap: 42px;
    padding-top: 52px;
    padding-bottom: 69px;
  }

  @media ($desktop) {
    // Блочная модель
    grid-template-columns: 1fr 525px;
    gap: 35px 58px;
    padding-top: 58px;
    padding-bottom: 96px;
  }
}

.popular-products__header {
  @media ($tablet) {
    // Блочная модель
    display: grid;
    grid-column: 1/3;
    grid-template-columns: 1fr min-content;
  }

  @media ($desktop) {
    // Блочная модель
    grid-template-columns: min-content 1fr;
    grid-row: 1/2;
  }
}

.popular-products__title {
  // Блочная модель
  margin-top: 0;
  margin-bottom: 3px;

  @media ($tablet) {
    // Блочная модель
    margin-bottom: 37px;
  }

  @media ($desktop) {
    // Позиционирование
    z-index: 1;

    // Блочная модель
    grid-column: 2/3;
    margin-top: 74px;
    margin-bottom: 0;
    margin-left: 57px;
  }
}

.popular-products__label {
  // Блочная модель
  margin-top: 0;
  margin-bottom: 17px;

  // Типографика
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $green-color;

  @media ($tablet) {
    // Блочная модель
    margin-top: 8px;
    margin-bottom: 45px;
    margin-right: 26px;

    // Типографика
    line-height: 17px;
    text-align: center;
  }

  @media ($desktop) {
    // Блочная модель
    grid-row-start: 1;
    margin: 80px 0 0 46px;
  }
}

.popular-products__description {
  // Блочная модель
  margin-top: 0;
  margin-bottom: 28px;

  // Типографика
  line-height: 24px;

  @media ($tablet) {
    // Блочная модель
    grid-column: 1/2;
    margin-bottom: 48px;

    // Типографика
    font-size: 17px;
    line-height: 30px;
  }

  @media ($desktop) {
    // Блочная модель
    margin-left: 175px;
    margin-bottom: 25px;
  }
}

.popular-products__characteristics {
  // Блочная модель
  margin-top: 0;
  margin-bottom: 41px;

  @media ($tablet) {
    // Блочная модель
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 70px;
  }

  @media ($desktop) {
    // Блочная модель
    margin-left: 175px;
    margin-bottom: 89px;
  }
}

.popular-products__link {
  // Блочная модель
  margin-top: 0;
  margin-bottom: 16px;

  @media ($tablet) {
    // Блочная модель
    grid-row: 2/6;
    grid-column: 2/3;
    margin-top: 13px;
  }

  @media ($desktop) {
    // Блочная модель
    grid-row: 1/6;
  }
}

.popular-products__price {
  // Блочная модель
  display: block;
  justify-self: center;
  margin-top: 0;
  margin-bottom: 25px;

  // Типографика
  text-align: center;

  @media ($tablet) {
    // Блочная модель
    margin-bottom: 33px;
  }

  @media ($desktop) {
    // Блочная модель
    margin-left: 175px;
    margin-bottom: 0;
  }
}

.popular-products__button {
  // Блочная модель
  margin: 0;

  @media ($desktop) {
    // Блочная модель
    margin-left: 175px;
  }
}
