.product-characteristics {
  // Типографика

  // Оформление
}

.product-characteristics__item {
  // Позиционирование

  // Блочная модель
  display: grid;
  grid-template-columns: 1fr 1fr;

  // Типографика

  // Оформление

  @media ($tablet) {
    // Позиционирование

    // Блочная модель
    margin-right: 36px;

    // Типографика

    // Оформление
  }

  @media ($desktop) {
    // Позиционирование

    // Блочная модель

    // Типографика

    // Оформление
  }
}

.product-characteristics__name {
  // Позиционирование

  // Блочная модель

  // Типографика
  line-height: 20px;

  // Оформление
}

.product-characteristics__value {
  // Позиционирование

  // Блочная модель
  margin: 0;

  // Типографика
  line-height: 20px;

  // Оформление
}
