.product-description {
  // Блочная модель (внутренняя геометрия)
  display: grid;
  row-gap: 40px;
  padding: 27px 28px 26px;

  @media ($tablet) {
    // Блочная модель (внутренняя геометрия)
    row-gap: 199px;
    padding: 27px 32px 26px 34px;
  }

  @media ($desktop) {
    // Блочная модель (внутренняя геометрия)
    grid-template-rows: min-content min-content;
    row-gap: 63px;
    padding-left: 28px;
  }

  &--additional {
    @media ($tablet) {
      // Блочная модель (внутренняя геометрия)
      row-gap: 175px;
    }

    @media ($desktop) {
      // Блочная модель (внутренняя геометрия)
      row-gap: 39px;
    }
  }
}

.product-description__content {
  // Блочная модель
  display: grid;
  row-gap: 5px;
}

.product-description__link {
  // Типографика
  text-decoration: none;
}

.product-description__title {
  // Блочная модель
  margin: 0;

  // Типографика
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black-color;

  @media ($tablet) {
    // Типографика
    font-size: 20px;
  }
}

.product-description__properties {
  // Блочная модель
  margin: 0;

  // Типографика
  font-size: 13px;

  @media ($tablet) {
    // Типографика
    font-size: 15px;
  }
}

.product-description__basket {
  // Блочная модель
  display: grid;
  grid-template-columns: 1fr min-content;
}

.product-description__price {
  // Позиционирование

  // Блочная модель

  // Типографика

  // Оформление
}

.product-description__button {
  // Блочная модель
  display: block;
  width: 20px;
  height: 19px;
  background-color: $grey-color;
}
