.production-process {
  // Блочная модель (внутренняя геометрия)
  display: grid;
  padding-top: 24px;
  padding-bottom: 33px;
  margin-bottom: 58px;

  @media ($tablet) {
    // Блочная модель (внутренняя геометрия)
    padding-top: 0;
    padding-bottom: 46px;
    margin-bottom: 64px;
  }

  @media ($desktop) {
    // Блочная модель (внутренняя геометрия)
    grid-template-columns: 683px 1fr;
    grid-template-rows: min-content 1fr min-content;
    column-gap: 80px;
    padding-bottom: 0;
    margin-bottom: 105px;
  }
}

.production-process__title {
  // Блочная модель
  margin-top: 0;
  margin-bottom: 27px;
  padding-left: 91px;

  // Типографика
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black-color;

  @media ($tablet) {
    // Блочная модель
    grid-row: 2/3;
    justify-self: left;
    margin-bottom: 24px;
    padding-left: 107px;

    // Типографика
    font-size: 20px;
  }

  @media ($desktop) {
    // Блочная модель
    grid-row: 1/2;
    margin-bottom: 27px;
    margin-top: 95px;
    padding-right: 50px;
    padding-left: 0;
  }
}

.production-process__image {
  // Блочная модель
  margin-bottom: 35px;

  @media ($tablet) {
    // Блочная модель
    min-height: 455px;
    object-fit: cover;
    margin-bottom: 40px;
  }

  @media ($desktop) {
    // Блочная модель
    grid-row: 1/-1;
    grid-column: 1/2;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.production-process__description {
  // Блочная модель
  margin-top: 0;
  margin-bottom: 41px;
  margin-left: 34px;

  // Типографика
  font-size: 13px;
  line-height: 24px;

  @media ($tablet) {
    // Блочная модель
    margin-left: 40px;
    margin-right: 40px;

    // Типографика
    font-size: 15px;
    line-height: 30px;
  }

  @media ($desktop) {
    // Блочная модель
    margin-left: 0;
    margin-bottom: 48px;
    padding-left: 0;
  }
}

.production-process__button {
  // Блочная модель
  display: block;
  margin: 0 auto;

  // Типографика
  line-height: 16px;

  @media ($tablet) {
    // Блочная модель
    margin-left: 42px;
    margin-right: 42px;

    // Типографика
    font-size: 17px;
  }

  @media ($desktop) {
    // Блочная модель
    margin-left: 0;
    margin-right: 57px;
    margin-bottom: 61px;
  }
}
