.product-description {
  // Блочная модель (внутренняя геометрия)
  display: grid;
  row-gap: 40px;
  padding: 27.5px 28px 26.5px;

  // Типографика

  // Оформление

  @media ($tablet) {
    // Блочная модель (внутренняя геометрия)
    row-gap: 195px;
    padding: 27px 32px 26px 34px;

    // Типографика

    // Оформление
  }

  @media ($desktop) {
    // Блочная модель (внутренняя геометрия)
    row-gap: 60px;
    padding: 27px 32px 26px 28px;

    // Типографика

    // Оформление
  }
}

.product-description__content {
  // Позиционирование

  // Блочная модель

  // Типографика

  // Оформление
}

.product-description__link {
  // Позиционирование

  // Блочная модель

  // Типографика
  text-decoration: none;

  // Оформление
}

.product-description__title {
  // Позиционирование

  // Блочная модель
  margin: 0;

  // Типографика
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black-color;

  // Оформление
}

.product-description__properties {
  // Позиционирование

  // Блочная модель

  // Типографика
  font-size: 13px;

  // Оформление
}

.product-description__basket {
  // Позиционирование

  // Блочная модель

  // Типографика

  // Оформление
}

.product-description__price {
  // Позиционирование

  // Блочная модель

  // Типографика

  // Оформление
}

.product-description__button {
  // Позиционирование

  // Блочная модель

  // Типографика

  // Оформление
}
