.product-range {
  // Блочная модель (внутреняя геометрия)
  display: grid;

  // Оформление
  background-color: $green-color;
}

.product-range__list {
  // Блочная модель
  display: grid;
  margin: 0;
  padding: 0;

  // Оформление
  list-style-type: none;

  @media ($tablet) {
    // Блочная модель
    grid-template-columns: 334px 334px;
  }

  @media ($desktop) {
    // Блочная модель
    grid-template-columns: 525px 525px;
  }
}

.product-range__item {
  // Позиционирование

  // Блочная модель

  // Типографика

  // Оформление

  &--interior-accessories {
    // Блочная модель

    // Оформление
  }

  &--baby-toys {
    // Блочная модель

    // Оформление
  }
}

.product-range__link {
  // Блочная модель
  display: block;
  padding: 24px 0 31px;

  @media ($tablet) {
    // Блочная модель
    padding: 25px 0 34px 36px;
  }
}
