.product-price {
  // Типографика
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $base-color;

  // Оформление

  @media ($tablet) {
    // Типографика
    font-size: 20px;

    // Оформление
  }

  &--additional {
    // Типографика
    font-size: 15px;
    color: $black-color;

    // Оформление

    @media ($tablet) {
      // Типографика
      font-size: 17px;

      // Оформление
    }
  }
}
