.review {
  // Блочная модель (внутренняя геометрия)
  display: grid;
}

.review__text {
  // Блочная модель
  margin-top: 0;
  margin-bottom: 34px;

  @media ($tablet) {
    // Блочная модель
    margin-bottom: 61px;

    // Типографика
    font-size: 17px;
  }

  @media ($desktop) {
    // Блочная модель
    margin-bottom: 44px;
  }
}

.review__author {
  // Блочная модель
  display: grid;
  row-gap: 6px;
  margin-bottom: 33px;

  // Типографика
  font-style: normal;

  @media ($tablet) {
    // Блочная модель
    margin-bottom: 50px;
  }

  @media ($desktop) {
    // Блочная модель
    margin-bottom: 96px;
  }
}

.review__author-name {
  // Блочная модель
  display: block;

  // Типографика
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black-color;

  @media ($tablet) {
    // Типографика
    font-size: 18px;
  }

  @media ($desktop) {
    // Типографика
    font-size: 17px;
  }
}

.review__author-email {
  // Блочная модель
  display: block;

  // Типографика
  font-size: 17px;
  line-height: 24px;
}
