.review {
  // Типографика

  // Оформление
}

.review__text {
  // Позиционирование

  // Блочная модель
  margin: 0 0 33px;

  // Типографика

  // Оформление

  @media (min-width: $tablet-width) {
    // Позиционирование

    // Блочная модель
    margin-bottom: 0 0 61px;

    // Типографика

    // Оформление
  }
}

.review__author {
  // Позиционирование

  // Блочная модель
  padding-right: 385px;

  // Типографика

  // Оформление
}

.review__author-name {
  // Позиционирование

  // Блочная модель

  // Типографика
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black-color;

  // Оформление
}

.review__author-email {
  // Позиционирование

  // Блочная модель

  // Типографика
  font-size: 17px;

  // Оформление
}
