.review {
  // Блочная модель (внутренняя геометрия)
  display: grid;
  // Типографика

  // Оформление
}

.review__text {
  // Позиционирование

  // Блочная модель
  margin-top: 0;
  margin-bottom: 33px;

  // Типографика

  // Оформление

  @media ($tablet) {
    // Позиционирование

    // Блочная модель
    margin-bottom: 61px;

    // Типографика

    // Оформление
  }

  @media ($desktop) {
    // Позиционирование

    // Блочная модель
    margin-bottom: 44px;

    // Типографика

    // Оформление
  }
}

.review__author {
  // Позиционирование

  // Блочная модель
  margin-bottom: 30px;

  // Типографика

  // Оформление

  @media ($tablet) {
    // Позиционирование

    // Блочная модель
    margin-bottom: 47px;

    // Типографика

    // Оформление
  }

  @media ($desktop) {
    // Позиционирование

    // Блочная модель
    margin-bottom: 96px;

    // Типографика

    // Оформление
  }
}

.review__author-name {
  // Позиционирование

  // Блочная модель
  display: block;

  // Типографика
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black-color;

  // Оформление
}

.review__author-email {
  // Позиционирование

  // Блочная модель
  display: block;

  // Типографика
  font-size: 17px;

  // Оформление
}
