.site-list {
  // Типографика
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black-color;

  // Оформление

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    // Типографика
    font-size: 15px;

    // Оформление
  }
}

.site-list__item {
  // Позиционирование

  // Блочная модель

  // Типографика

  // Оформление
}
