.slider {
  // Блочная модель (внутренняя геометрия)

  // Типографика

  // Оформление

  @media ($tablet) {
    // Блочная модель (внутренняя геометрия)
    grid-column: 1/3;
    grid-row: 2/4;

    // Типографика

    // Оформление
  }
}

.slider__item {
  // Позиционирование

  // Блочная модель
  margin: 0;

  // Типографика

  // Оформление

  @media ($tablet) {
    // Позиционирование

    // Блочная модель
    margin: 0;

    // Типографика

    // Оформление
  }

  &--hidden {
    // Блочная модель
    display: none;
  }
}
