.slider {
  // Типографика

  // Оформление
}

.slider__item {
  // Позиционирование

  // Блочная модель
  margin: 14px 0 0;

  // Типографика

  // Оформление

  @media (min-width: $tablet-width) {
    // Позиционирование

    // Блочная модель
    display: grid;
    margin: 0;

    // Типографика

    // Оформление
  }

  &--hidden {
    // Блочная модель
    display: none;
  }
}
