.slider {
  // Блочная модель (внутренняя геометрия)

  // Типографика

  // Оформление

  @media ($tablet) {
    // Блочная модель (внутренняя геометрия)
    grid-column: 1/3;

    // Типографика

    // Оформление
  }
}

.slider__item {
  // Блочная модель
  margin: 0;

  &--hidden {
    // Блочная модель
    display: none;
  }
}
