.title-section {
  // Типографика
  font-size: 25px;
  font-weight: 700;
  color: $black-color;

  @media ($tablet) {
    // Типографика
    font-size: 43px;
    line-height: 50px;
  }

  @media ($desktop) {
    // Типографика
    font-size: 53px;
    line-height: 57px;
  }

  &--main {
    // Типографика
    font-size: 27px;
    text-align: center;

    @media ($tablet) {
      // Типографика
      font-size: 43px;
      line-height: 50px;
    }

    @media ($desktop) {
      // Типографика
      font-size: 53px;
      line-height: 57px;
    }
  }
}
