body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $base-color;
}

img {
  max-width: 100%;
  height: auto;
}

*::before,
*::after {
  box-sizing: border-box;
}
