// переменные
@import "base/variables.scss";

// базовые свойства
@import "base/fonts.scss";
@import "base/global.scss";
@import "base/visually-hidden.scss";

// блоки компонентов
@import "blocks/about-us.scss";
@import "blocks/button.scss";
@import "blocks/catalog-products.scss";
@import "blocks/choose-form.scss";
@import "blocks/contacts.scss";
@import "blocks/container.scss";
@import "blocks/control.scss";
@import "blocks/copyright.scss";
@import "blocks/feedback.scss";
@import "blocks/form-filters.scss";
@import "blocks/form.scss";
@import "blocks/hero.scss";
@import "blocks/legend.scss";
@import "blocks/logo.scss";
@import "blocks/main-container.scss";
@import "blocks/main-footer.scss";
@import "blocks/main-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/modal.scss";
@import "blocks/nav-link.scss";
@import "blocks/news-list.scss";
@import "blocks/page.scss";
@import "blocks/popular-products.scss";
@import "blocks/product-characteristics.scss";
@import "blocks/product-description.scss";
@import "blocks/product-link.scss";
@import "blocks/product-price.scss";
@import "blocks/product-range.scss";
@import "blocks/production-process.scss";
@import "blocks/range-link.scss";
@import "blocks/review.scss";
@import "blocks/site-list.scss";
@import "blocks/slider.scss";
@import "blocks/social.scss";
@import "blocks/title-section.scss";
@import "blocks/toggles.scss";
@import "blocks/user-list.scss";
@import "blocks/wrapper.scss";
